body{
  background-color: black;
  color: white;
}
.profile{
    position: relative;
    width: 130px;
    height: 130px;
    top: 50%;
    left: 45%;
}
#theme-toggle {
  /* position: absolute; */
  /* top: 20px;
  right: 20px; */
  /* background-color: #fff; */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#theme-toggle.light {
  /* background-color: #333; */
  color: black;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: none;
}
.ld{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.ld:hover{
    cursor: pointer;
    color: #F2CD5C;
}
h1{
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}
#sub-heading{
  font-size: 24px;
  margin-top:0;
  margin-bottom:40px;
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
}
#container{
  text-align:center;
}
.nav-bar{ 
  color: white;
  text-decoration: none;
  display: inline-block;
  padding:10px;
  font-size: 20px;
  margin-top:10px;
  margin-bottom: 25px;
  font-family: 'Merriweather Sans', sans-serif;
}
h2{
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
}
.nav-bar:hover{
  cursor: pointer;
  color: #EB455F;
}
#about{
  margin-left: 35%;
  margin-right: 35%;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Merriweather Sans', sans-serif;
}
.icons{
  padding:15px;
  margin-top: 50px;
  color: white;
  margin-bottom: 0;
}
.icons:hover{
  color: #EB455F;
}
footer{
  text-align: center;
}
#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 10px;
  font-family: 'Merriweather Sans', sans-serif;
}
.grid-item {
  background-color: #ccc;
  border-radius: 7px;
}
section#projects li {
  list-style: none;
  margin-bottom: 1em;
}

section#projects a {
  text-decoration: none;
  color: white;
}
/*  Stylise the contact form */
section#contact 
form {
  display: flex;
  margin-left:35%;
  margin-right:35%;
  padding-top: 50px;
  flex-wrap: wrap;
  overflow-x: hidden;
}

section#contact form input[type="text"],
section#contact form input[type="email"],
section#contact form textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

section#contact form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

section#contact form input[type="submit"]:hover {
  color: white;
  background-color: #EB455F;
}
.c-form{
  box-sizing: border-box;
  height: 4em;
}
.msg{
  box-sizing: border-box;
  height:15em;
}
.s-btn{
  box-sizing: border-box;
  height: 3em;
  width: 100%;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Merriweather Sans', sans-serif;
}
#color-1{
    background-color: #0D4C92;
}
#color-2 {
    background-color: #00425A;
}
#color-3 {
    background-color: #1F8A70;
}
#color-4 {
    background-color: #00337C;
}
#color-5 {
    background-color: #1C82AD;
}
#color-6 {
    background-color: #243763;
}
#color-7 {
    background-color: #0A2647;
}
#color-8 {
    background-color: #3A4F7A;
}
#color-9 {
    background-color: #181D31;
}
#color-10 {
    background-color: #344D67;
}
body.light #color-1{
    background-color: #5B8FB9;
}
body.light #color-2{
    background-color: #7B8FA1;
}
body.light #color-3{
   background-color: #84D2C5; 
}
body.light #color-4{
    background-color: #E3ACF9;
}
body.light #color-5{
    background-color: #FFD4B2;
}
body.light #color-6{
    background-color: #86C8BC;
}
body.light #color-7{
    background-color: #82AAE3;
}
body.light #color-8{
    background-color: #DFD3C3;
}
body.light #color-9{
    background-color: #FFCAC8;
}
body.light #color-10{
    background-color: #96CEB4;
}
::-webkit-scrollbar {
    width: 7px;
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 15px;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.blur-overlay {
  filter: blur(5px);
}
.last_para{
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
}
/* Media queries for responisveness */
@media screen and (max-width: 768px)
{
  .profile{
    /* position: relative;
    width: 130px;
    height: 130px; */
    top: 50%;
    left: 35%;
}
  #about{
    margin: auto;
  }
  h1{
    font-size: 30px;
  }
  #sub-heading{
  font-size: 15.4px;
}
  #about{
    font-size: 17px;
  }
  .icons{
    margin-bottom: 0;
  }
  #grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 200px);
  }
  section#contact form {
      display: flex;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 50px;
      flex-wrap: wrap;
      overflow-x: hidden;
  }
  section#contact form input[type="submit"] {
      background-color: #EB455F;
      color: #fff;
    }
}
